# Ignore everything by default
*

# needed to run:
!app.py
!main.py
!convert_output.py
!requirements.txt
!requirements-torch-rocm.txt
!requirements-onnxruntime-rocm.txt
!.env
!sudo-nopasswd

!/src/
!/src/main.py
!/src/convert_output.py
