# Ignore environment variables
.env

# Ignore data directories
data/
models/hub/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Docker related files
docker-compose.override.yml

# Ignore logs and temporary files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
env/
.venv/