# Ignore environment variables
.env

# Ignore data directories
uploads/
testing/
transcripts/
logs/
transcripts-srt/
transcripts-txt/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
env/
.venv/