# Ignore environment variables
.env

# Ignore data directories


# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
env/
.venv/

uploads/
testing/
testing/mp3_test_insanely_fast_whisper.sh
testing/test_cuda.py
testing/test_insanely_fast_whisper.sh
transcripts/
