--find-links https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.1/

fastapi>=0.104.0
uvicorn>=0.24.0
python-multipart>=0.0.6
transformers>=4.35.0
python-dotenv>=1.0.0
PyYAML>=6.0.1
click>=8.1.3
gradio>=5.20.1
pydub>=0.25.1
numpy==1.26.4
optimum>=1.16.0
accelerate>=0.21.0
datasets>=2.14.0

# OnnxRuntime
onnxruntime-rocm==1.21.0

# PyTorch
torch==2.5.1+rocm6.4.1.git47a02624